.container {
    position: relative;
  }
  
button {
    background-color: rgba(16, 91, 190, 0.786);
    color: rgba(242, 244, 244, 0.996);
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: blue;
}
  
  /* Estilo para el ícono del carrito */
button svg {
    vertical-align: middle;
    margin-right: 5px;
}
  
  