body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  
}

.App {
  background-color: #d2edf8;
 
  flex-direction: column;
  align-items: center;
  display: grid;
  
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
   
}






